@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
  margin: revert;
}

.ck-content > ol,
.ck-content > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content > table {
  border-collapse: revert;
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
  font-size: revert;
  font-weight: revert;
}

.all-reset > dl,
.all-reset > blockquote,
.all-reset > dd,
.all-reset > h1,
.all-reset > h2,
.all-reset > h3,
.all-reset > h4,
.all-reset > h5,
.all-reset > h6,
.all-reset > hr,
.all-reset > figure,
.all-reset > p,
.all-reset > pre {
  margin: revert;
}

.all-reset > ol,
.all-reset > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.all-reset > table {
  border-collapse: revert;
}

.all-reset > h1,
.all-reset > h2,
.all-reset > h3,
.all-reset > h4,
.all-reset > h5,
.all-reset > h6 {
  font-size: revert;
  font-weight: revert;
}